/*Color gradient*/
.colorBackground{
    -fx-background-color: linear-gradient( to right top,#facd68, #fc76b3);
}
.colorBackgroundforButtons {
    -fx-background-color: linear-gradient( to right top,#facd68, #c29c38);
}
colorButton {
    -fx-font-weight: 100;

}